.card{
    margin-top: -8px;
    background: rgba(255, 255, 255, 0.158);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 1px);
    -webkit-backdrop-filter: blur( 1px);
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .centrar{
    display: block;
    margin: 0%;
    padding: 50px;
  }